.pokeDetailsBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 3rem auto 1rem auto;
    background-color: rgb(255, 255, 255);
    padding: 1rem 1rem 4rem 1rem;
    border-radius: 0.5rem;
    text-align: center;
}
.pokeDetailsBox h3 {
    font-weight: bold;
    margin: 0.5rem;
}
.pokeDetailsBox ul {
    list-style: none;
}
.title {
    font-size: 30px;
}
.imgPokemon {
    max-width: 250px;
    min-width: 150px;
    padding: 2rem 0.5rem;
}
.type{
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    border-radius: 0.3rem;
}
.atributes {
    font-family: inherit;
    text-align: center;
}
.atribute {
    margin: 0;
    padding: 0;
}
.description-text {
    white-space: pre-wrap;

}
.features {
    margin: 0.5rem;
}
.feature {
    display: block;
}
.progressbar {
    width: 100%;
    margin: 0.5rem auto;
}