#content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 190px));
  grid-auto-rows: auto;
  justify-items: center;
  grid-area: cards;
  justify-content: center;
  margin-top: 2rem;
}
#content p {
    margin: 0;
}
