body {
    background: rgb(253,255,0);
    background: linear-gradient(0deg, rgba(253,255,0,1) 0%, rgba(255,128,0,1) 48%, rgb(202, 50, 12) 100%);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
p {
    margin: 0;
}